# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE / Editor
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Raw datasets
data/*.csv
data/*.parquet

# Generated outputs
output/*.parquet
output/valid_batches/
output/invalid_batches/

# Logs
*.log

# Environment variables
.env

# Test / coverage
.pytest_cache/
.coverage
htmlcov/